<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- BLE 权限：Android 12+ 用 SCAN/CONNECT，旧版本用 BLUETOOTH + 定位（见 flutter_blue_plus 文档） -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />
    <!-- 麦克风：音乐律动频谱采集（前台服务 AudioRecord，运行时申请） -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 前台服务：锁屏/退后台后持续采集麦克风（targetSdk 34+ 必须声明 MICROPHONE 类型） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <!-- 前台服务常驻通知在 Android 13+ 的通知栏展示需要此运行时权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 锁屏后保持 CPU 运行，音频采集线程不被休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:label="宝宝剑"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- 麦克风前台服务：音乐律动在退后台/锁屏后持续采集分析 -->
        <service
            android:name=".AudioCaptureService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
